@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
html {
  font-family: "Bai Jamjuree", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body {
  background: url("./images/bg-header-mobile.png") top/100% no-repeat;
}

img {
  width: 100%;
}

p {
  color: #9fabb2;
  line-height: 1.75rem;
}

.heading {
  color: #4c545d;
  margin: 1rem 0;
}

.btn {
  width: 100%;
  margin: 0.5rem;
  padding: 0.75em 1em;
  font-size: 1em;
  border-radius: 35px;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  color: #ffffff;
  border: none;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.75;
}

li:hover {
  cursor: pointer;
  color: #26baa4;
}

.btn--sc {
  background-color: #26baa4;
  border-bottom: 3px solid #1d907f;
}

.btn--lb {
  background-color: #6173ff;
  border-bottom: 3px solid #5866d5;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 2rem 6rem;
}
.about__logo {
  width: min(125px, 50%);
  margin: 5rem 0 3rem;
}
.about__text {
  margin: 2rem 0;
}

.info-one {
  text-align: center;
  margin: 5rem 2rem;
}
.info-one__heading {
  margin: 1rem 0;
}

.computer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;
}
.computer__img {
  width: min(100%, 500px);
}
.computer__specs {
  text-align: center;
  margin: 2rem 0;
}
.computer__specs-item {
  padding: 2rem 0;
}

.info-two {
  text-align: center;
  margin: 3rem 2rem;
}

.devices {
  display: flex;
  justify-content: center;
  margin: 3rem 1rem;
}
.devices__img {
  width: min(100%, 500px);
}

.info-three {
  margin: 5rem 2rem;
  text-align: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;
}
.features__item {
  text-align: center;
  margin: 2rem 0;
}
.features__icon {
  width: min(20%, 50px);
}

.sponsors {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sponsors__item {
  margin: 3rem 0;
  width: min(150px, 50%);
}

.about-bottom {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 2rem 6rem;
}
.about-bottom__text {
  margin: 2rem 0;
}

.footer {
  background-color: #f5f6f8;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  display: flex;
  justify-content: center;
  width: min(100%, 60px);
  margin: 3rem 0;
}
.footer__nav-mobile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #4c545d;
}
.footer__nav-desktop {
  display: none;
}
.footer__nav-item {
  margin: 1rem 0;
}
.footer__sns {
  margin: 3rem 0;
}
.footer__sns-item {
  margin: 1rem;
}
.footer__sns-item path:hover {
  fill: #26baa4;
}

@media screen and (min-width: 768px) {
  body {
    background: url("./images/bg-header-desktop.png") top/100% no-repeat;
  }

  .about__text {
    width: 600px;
  }

  .info-one {
    margin: 10rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .info-one__text {
    width: 600px;
  }

  .computer {
    margin: 5rem 10%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .computer__img {
    padding: 3rem 5rem;
    width: min(100%, 1000px);
  }
  .computer__specs {
    text-align: start;
  }
  .computer__specs p {
    width: min(100%, 350px);
  }

  .info-two {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .info-two p {
    width: 40%;
  }

  .devices__img {
    width: min(70%, 1000px);
  }

  .features {
    margin: 10rem 8%;
    flex-flow: row nowrap;
    align-items: baseline;
  }
  .features__item {
    padding: 0 2rem;
    width: 33%;
  }

  .sponsors {
    margin: 10rem 8%;
    flex-flow: row wrap;
  }
  .sponsors__item {
    width: 150px;
    padding: 0 3rem;
  }

  .about-bottom__text {
    width: 50%;
  }

  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0 10rem;
  }
  .footer__logo {
    margin: 0 10%;
    width: 70px;
    flex-shrink: 0;
  }
  .footer__nav-mobile {
    display: none;
  }
  .footer__nav-desktop {
    position: relative;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .footer__nav-desktop .footer__nav-item {
    padding: 0.5rem 0;
  }
  .footer__nav-desktop-col {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 1300px) {
  .btn--container {
    display: flex;
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
